.paginaConteiner {
  width: 100%;
  height: auto;
  /*------------------------------------primera seccion-------*/
  /*------------------------------------segunda seccion-------*/
  /*-------------tercera seccion--------------*/
  /*----------------cuarta seccion------------------------*/
}
.paginaConteiner .primeraSeccion {
  background-image: url(../imagenes/texturaIndex.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paginaConteiner .primeraSeccion .presentacionIndex {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginaConteiner .primeraSeccion .presentacionIndex img {
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginaConteiner .primeraSeccion button {
  margin: 2rem;
  display: flex;
  justify-content: start;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex {
  width: 95vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: auto;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex {
  width: 24vw;
  height: auto;
  background-image: url(/imagenes/indexnos.jpg);
  display: flex;
  flex-direction: column-reverse;
  background-repeat: no-repeat;
  background-size: cover;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex a {
  text-decoration: none;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex a h2 {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1.5rem;
  font-size: 1rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex a h2:hover {
  font-size: 1.3rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex {
  width: 24vw;
  height: auto;
  background-image: url(/imagenes/indexcont.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex a {
  text-decoration: none;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex a h2 {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1.5rem;
  font-size: 1rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex a h2:hover {
  font-size: 1.3rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex {
  width: 24vw;
  height: auto;
  background-image: url(/imagenes/indexobr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex a {
  text-decoration: none;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex a h2 {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1.5rem;
  font-size: 1rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex a h2:hover {
  font-size: 1.3rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex {
  width: 24vw;
  height: auto;
  background-image: url(/imagenes/indexcontac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex a {
  text-decoration: none;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex a h2 {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1.5rem;
  font-size: 1rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex a h2:hover {
  font-size: 1.3rem;
}
.paginaConteiner .cuartaSeccionIndex {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@font-face {
  font-family: "aileron";
  src: url("../fuente/aileron_0102");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "aileron", sans-serif;
}

.hoverSub:hover {
  text-decoration: underline;
}

.hoverGrande:hover {
  font-size: 3rem;
}

footer {
  height: 40vh;
}
footer .footerContein {
  height: 40vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footerContein .logoFooter {
  margin-top: 1rem;
  margin-left: 7rem;
  width: 45%;
}
footer .footerContein .logoFooter img {
  width: 40%;
  height: auto;
}
footer .footerContein .footer {
  width: 25%;
  display: flex;
  flex-direction: column;
}
footer .footerContein .footer .footerLInks {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 1rem;
  padding: 0.8rem;
  border-left: solid #3A5D8B 0.6rem;
}
footer .footerContein .footer .footerLInks a {
  color: white;
  text-decoration: none;
}
footer .footerContein .footer .footerLInks a:hover {
  text-decoration: underline;
}
footer .footerContein .footer .footerRedes {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 1rem;
}
footer .footerContein .footer .footerRedes h3 {
  margin: 0;
  font-size: 1rem;
}
footer .footerContein .footer .footerRedes h3 img {
  margin: 0;
  width: 11%;
  height: auto;
}
footer .footerContein .footer .footerRedes img {
  width: 8%;
  height: auto;
}

.construccionConteiner {
  width: 100%;
  height: auto;
  /*-----------------primera seccion contruccion-------------*/
  /*-----------------segunda seccion contruccion-------------*/
  /*-----------------tercera seccion contruccion-------------*/
  /*-------------------cuarta seccion ---------------*/
  /*---------------------------QUINTA SECCION-----------------------------*/
}
.construccionConteiner .primeraConstruccion {
  background-image: url(../imagenes/construccion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 65vh;
}
.construccionConteiner .contruccion1 {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/terNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.construccionConteiner .contruccion1 .textoontruc1 {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.construccionConteiner .contruccion1 .textoontruc1 h1 {
  margin-bottom: 2rem;
}
.construccionConteiner .contruccion1 .textoontruc1 h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.construccionConteiner .contruccion2 {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/Contruccion2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.construccionConteiner .contruccion2 .textoontruc2 {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.construccionConteiner .contruccion2 .textoontruc2 h1 {
  margin-bottom: 2rem;
  color: white;
}
.construccionConteiner .contruccion2 .textoontruc2 h3 {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.construccionConteiner .construccion3 {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/terNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.construccionConteiner .construccion3 .textoConstruccion3 {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.construccionConteiner .construccion3 .textoConstruccion3 h1 {
  margin-bottom: 2rem;
}
.construccionConteiner .construccion3 .textoConstruccion3 h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

.contactoConteiner {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/texturaIndex.png);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.contactoConteiner .what {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.contactoConteiner .what a {
  width: 5rem;
  height: auto;
}
.contactoConteiner .what a img {
  width: 5rem;
  height: auto;
}
.contactoConteiner h1 {
  font-size: 1.5rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.contactoConteiner .formulario {
  width: 30%;
  height: auto;
}
.contactoConteiner .formulario .contactoEnviar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.nosotrosConteiner {
  width: 100%;
  height: auto;
}
.nosotrosConteiner .primeraSeccionNosotros {
  width: 80%;
  height: auto;
  background-image: url(../imagenes/texturaIndex.png);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.nosotrosConteiner .primeraSeccionNosotros .cardNosotros {
  width: 100%;
  margin-top: 7em;
  margin-bottom: 5em;
}
.nosotrosConteiner .primeraSeccionNosotros .cardNosotros p {
  font-size: 0.8rem;
}
.nosotrosConteiner .segundaNosotros {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/nosotros2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner .imgNosSeg {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: end;
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner .imgNosSeg img {
  width: 70%;
  height: auto;
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner .textoNosotros {
  width: 80%;
  color: white;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner .textoNosotros h3 {
  font-size: 1rem;
}
.nosotrosConteiner .terceraNosotros {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/terNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotrosConteiner .terceraNosotros .textoTerNos {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.nosotrosConteiner .terceraNosotros .textoTerNos h1 {
  margin-bottom: 2rem;
}
.nosotrosConteiner .terceraNosotros .textoTerNos h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.nosotrosConteiner .cuartaNosotros {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/cuarNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotrosConteiner .cuartaNosotros .textoCuarNos {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.nosotrosConteiner .cuartaNosotros .textoCuarNos h1 {
  margin-bottom: 2rem;
  color: white;
}
.nosotrosConteiner .cuartaNosotros .textoCuarNos h3 {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
}
.nosotrosConteiner .quintaNosotros {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/terNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotrosConteiner .quintaNosotros .textoQuinNos {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.nosotrosConteiner .quintaNosotros .textoQuinNos h1 {
  margin-bottom: 2rem;
}
.nosotrosConteiner .quintaNosotros .textoQuinNos h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

.obrasConteiner {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/texturaIndex.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.obrasConteiner h1 {
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.obrasConteiner .obras1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.obrasConteiner .obras1 h2 {
  font-size: 1.3rem;
}
.obrasConteiner .obras1 h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
}
.obrasConteiner .obras1 .caruselObras1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 45%;
  height: auto;
  margin: auto;
}
.obrasConteiner .obras2 {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.obrasConteiner .obras2 h2 {
  margin-top: 2rem;
  font-size: 1.3rem;
}
.obrasConteiner .obras2 h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.obrasConteiner .obras2 .caruselObras2 {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/*# sourceMappingURL=style.css.map */
