.paginaConteiner {
  width: 100%;
  height: auto;
  /*------------------------------------primera seccion-------*/
  /*------------------------------------segunda seccion-------*/
  /*-------------tercera seccion--------------*/
  /*----------------cuarta seccion------------------------*/
}
.paginaConteiner .primeraSeccion {
  background-image: url(../imagenes/texturaIndex.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paginaConteiner .primeraSeccion .presentacionIndex {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginaConteiner .primeraSeccion .presentacionIndex img {
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .paginaConteiner .primeraSeccion .presentacionIndex img {
    width: 50%;
  }
}
.paginaConteiner .primeraSeccion a {
  text-decoration: none;
}
.paginaConteiner .primeraSeccion a button {
  margin: 2rem;
  display: flex;
  justify-content: start;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: auto;
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 499px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex {
  width: 25vw;
  height: auto;
  background-image: url(/imagenes/CPUnosotros.jpg);
  display: flex;
  flex-direction: column-reverse;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex {
    width: 100%;
    height: 25%;
    background-image: url(/imagenes/TABLETnosotros.jpg);
  }
}
@media screen and (max-width: 499px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex {
    width: 100%;
    height: 25%;
    background-image: url(/imagenes/CELULARnosotros.jpg);
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex a {
  text-decoration: none;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex a h2 {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1.5rem;
  font-size: 1rem;
}
@media screen and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex a h2 {
    color: black;
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgNosotrosIndex a h2:hover {
  font-size: 1.3rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex {
  width: 25vw;
  height: auto;
  background-image: url(/imagenes/CPUconstruccion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex {
    width: 100%;
    height: 25%;
    background-image: url(/imagenes/TABLETconstruccion.jpg);
  }
}
@media screen and (max-width: 499px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex {
    width: 100%;
    height: 25%;
    background-image: url(/imagenes/CELULARconstruccion.jpg);
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex a {
  text-decoration: none;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex a h2 {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1.5rem;
  font-size: 1rem;
}
@media screen and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex a h2 {
    color: black;
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgConstruccionIndex a h2:hover {
  font-size: 1.3rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex {
  width: 25vw;
  height: auto;
  background-image: url(/imagenes/CPUobras.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex {
    width: 100%;
    height: 25%;
    background-image: url(/imagenes/TABLETobras.jpg);
  }
}
@media screen and (max-width: 499px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex {
    width: 100%;
    height: 25%;
    background-image: url(/imagenes/CELULARobras.jpg);
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex a {
  text-decoration: none;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex a h2 {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1.5rem;
  font-size: 1rem;
}
@media screen and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex a h2 {
    color: black;
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgObrasIndex a h2:hover {
  font-size: 1.3rem;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex {
  width: 25vw;
  height: auto;
  background-image: url(/imagenes/CPUcontacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex {
    width: 100%;
    height: 25%;
    background-image: url(/imagenes/TABLETcontacto.jpg);
  }
}
@media screen and (max-width: 499px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex {
    width: 100%;
    height: 25%;
    background-image: url(/imagenes/CELULARcontacto.jpg);
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex a {
  text-decoration: none;
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex a h2 {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1.5rem;
  font-size: 1rem;
}
@media screen and (max-width: 999px) {
  .paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex a h2 {
    color: black;
  }
}
.paginaConteiner .terceraSeccionIndex .galeriaConteinerIndex .imgContactoIndex a h2:hover {
  font-size: 1.3rem;
}
.paginaConteiner .cuartaSeccionIndex {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 999px) {
  .paginaConteiner .cuartaSeccionIndex {
    width: 70%;
  }
}

@font-face {
  font-family: "aileron";
  src: url("../fuente/aileron_0102");
}
.imagenNav {
  width: 25%;
}
@media screen and (min-width: 800px) and (max-width: 999px) {
  .imagenNav {
    width: 30%;
    height: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  .imagenNav {
    width: 40%;
    height: auto;
  }
}
@media screen and (min-width: 450px) and (max-width: 599px) {
  .imagenNav {
    width: 55%;
    height: auto;
  }
}
@media screen and (max-width: 449px) {
  .imagenNav {
    width: 62%;
    height: auto;
  }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "aileron", sans-serif;
  z-index: 1;
}

.what {
  bottom: 1%;
  right: 1%;
  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (min-width: 451px) and (max-width: 991px) {
  .what {
    bottom: 20%;
    right: 1%;
  }
}
@media screen and (max-width: 500px) {
  .what {
    bottom: 8%;
    right: 5%;
  }
}
.what a {
  width: 5rem;
  height: auto;
}
.what a img {
  width: 5rem;
  height: auto;
}

.hoverSub:hover {
  text-decoration: underline;
}

.hoverGrande:hover {
  font-size: 3rem;
}

footer {
  height: auto;
}
footer .footerContein {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  footer .footerContein {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }
}
footer .footerContein .logoFooter {
  margin-top: 1rem;
  margin-left: 7rem;
  width: 40%;
}
@media screen and (min-width: 599px) and (max-width: 999px) {
  footer .footerContein .logoFooter {
    margin-top: 1rem;
    margin-left: 5rem;
    width: 60%;
  }
}
@media screen and (max-width: 599px) {
  footer .footerContein .logoFooter {
    display: none;
    margin: 0;
  }
}
footer .footerContein .logoFooter img {
  width: 35%;
  height: auto;
}
footer .footerContein .logoFooter .mailFoo2 {
  display: none;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  footer .footerContein .logoFooter .mailFoo2 {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
  }
}
footer .footerContein .footer {
  width: 25%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  footer .footerContein .footer {
    margin-right: 4rem;
  }
}
@media screen and (max-width: 600px) {
  footer .footerContein .footer {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
footer .footerContein .footer .footerLInks {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 1rem;
  padding: 0.8rem;
  border-left: solid #3A5D8B 0.6rem;
}
footer .footerContein .footer .footerLInks a {
  color: white;
  text-decoration: none;
}
footer .footerContein .footer .footerLInks a:hover {
  text-decoration: underline;
}
footer .footerContein .footer .footerRedes {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  margin-left: 1rem;
}
@media screen and (max-width: 600px) {
  footer .footerContein .footer .footerRedes {
    justify-content: center;
    align-items: center;
  }
}
footer .footerContein .footer .footerRedes h3 {
  margin: 0.1rem;
  font-size: 1rem;
}
@media screen and (max-width: 600px) {
  footer .footerContein .footer .footerRedes h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
footer .footerContein .footer .footerRedes h3 img {
  margin: 0;
  width: 11%;
  height: auto;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  footer .footerContein .footer .footerRedes h3 img {
    width: 20%;
  }
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  footer .footerContein .footer .footerRedes .mailFoo {
    display: none;
  }
}
footer .footerContein .footer .footerRedes img {
  width: 8%;
  height: auto;
}

.construccionConteiner {
  width: 100%;
  height: auto;
  /*-----------------primera seccion contruccion-------------*/
  /*-----------------segunda seccion contruccion-------------*/
  /*-----------------tercera seccion contruccion-------------*/
  /*-------------------cuarta seccion ---------------*/
  /*---------------------------QUINTA SECCION-----------------------------*/
}
.construccionConteiner .primeraConstruccion {
  background-image: url(../imagenes/construc1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 65vh;
}
.construccionConteiner .contruccion1 {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/terNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.construccionConteiner .contruccion1 .textoontruc1 {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .construccionConteiner .contruccion1 .textoontruc1 {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .construccionConteiner .contruccion1 .textoontruc1 {
    width: 70%;
  }
}
.construccionConteiner .contruccion1 .textoontruc1 h1 {
  margin-bottom: 2rem;
}
.construccionConteiner .contruccion1 .textoontruc1 h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .construccionConteiner .contruccion1 .textoontruc1 h3 {
    font-size: 0.8rem;
  }
}
.construccionConteiner .contruccion2 {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/Contruccion2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.construccionConteiner .contruccion2 .textoontruc2 {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .construccionConteiner .contruccion2 .textoontruc2 {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .construccionConteiner .contruccion2 .textoontruc2 {
    width: 70%;
  }
}
.construccionConteiner .contruccion2 .textoontruc2 h1 {
  margin-bottom: 2rem;
  color: white;
}
.construccionConteiner .contruccion2 .textoontruc2 h3 {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .construccionConteiner .contruccion2 .textoontruc2 h3 {
    font-size: 0.8rem;
  }
}
.construccionConteiner .construccion3 {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/terNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.construccionConteiner .construccion3 .textoConstruccion3 {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .construccionConteiner .construccion3 .textoConstruccion3 {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .construccionConteiner .construccion3 .textoConstruccion3 {
    width: 70%;
  }
}
.construccionConteiner .construccion3 .textoConstruccion3 h1 {
  margin-bottom: 2rem;
}
.construccionConteiner .construccion3 .textoConstruccion3 h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .construccionConteiner .construccion3 .textoConstruccion3 h3 {
    font-size: 0.8rem;
  }
}

.contactoConteiner {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/texturaNos.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.contactoConteiner h1 {
  font-size: 1.5rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 599px) {
  .contactoConteiner h1 {
    font-size: 1rem;
    text-decoration: underline;
  }
}
.contactoConteiner form {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}
.contactoConteiner form .formulario {
  width: 30%;
  height: auto;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .contactoConteiner form .formulario {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .contactoConteiner form .formulario {
    width: 80%;
  }
}
.contactoConteiner form .formulario .contactoEnviar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.nosotrosConteiner {
  width: 100%;
  height: auto;
}
.nosotrosConteiner .primeraSeccionNosotros {
  width: 80%;
  height: auto;
  background-image: url(../imagenes/texturaNos.jpg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}
@media screen and (max-width: 900px) {
  .nosotrosConteiner .primeraSeccionNosotros {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .primeraSeccionNosotros {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
}
.nosotrosConteiner .primeraSeccionNosotros .cardNosotros {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .nosotrosConteiner .primeraSeccionNosotros .cardNosotros {
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .primeraSeccionNosotros .cardNosotros {
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.nosotrosConteiner .primeraSeccionNosotros .cardNosotros p {
  font-size: 0.8rem;
}
.nosotrosConteiner .segundaNosotros {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/nosotros2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
  }
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner .imgNosSeg {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 999px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner .imgNosSeg {
    width: 30%;
    justify-content: flex-start;
    margin: 0;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner .imgNosSeg {
    display: none;
  }
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner .imgNosSeg img {
  width: 70%;
  height: auto;
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner .imgNosSeg img {
    margin: 0;
  }
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner .textoNosotros {
  width: 80%;
  color: white;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner .textoNosotros {
    width: 60%;
    justify-content: flex-start;
    margin: 0;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner .textoNosotros {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}
.nosotrosConteiner .segundaNosotros .imgNosSegconteiner .textoNosotros h3 {
  font-size: 1rem;
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner .textoNosotros h3 {
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .segundaNosotros .imgNosSegconteiner .textoNosotros h3 {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
  }
}
.nosotrosConteiner .terceraNosotros {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/terNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotrosConteiner .terceraNosotros .textoTerNos {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .nosotrosConteiner .terceraNosotros .textoTerNos {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .terceraNosotros .textoTerNos {
    width: 70%;
  }
}
.nosotrosConteiner .terceraNosotros .textoTerNos h1 {
  margin-bottom: 2rem;
}
.nosotrosConteiner .terceraNosotros .textoTerNos h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.nosotrosConteiner .cuartaNosotros {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/cuarNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotrosConteiner .cuartaNosotros .textoCuarNos {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .nosotrosConteiner .cuartaNosotros .textoCuarNos {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .cuartaNosotros .textoCuarNos {
    width: 70%;
  }
}
.nosotrosConteiner .cuartaNosotros .textoCuarNos h1 {
  margin-bottom: 2rem;
  color: white;
}
.nosotrosConteiner .cuartaNosotros .textoCuarNos h3 {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
}
.nosotrosConteiner .quintaNosotros {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  background-image: url(../imagenes/terNos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nosotrosConteiner .quintaNosotros .textoQuinNos {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .nosotrosConteiner .quintaNosotros .textoQuinNos {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .nosotrosConteiner .quintaNosotros .textoQuinNos {
    width: 70%;
  }
}
.nosotrosConteiner .quintaNosotros .textoQuinNos h1 {
  margin-bottom: 2rem;
}
.nosotrosConteiner .quintaNosotros .textoQuinNos h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

.obrasConteiner {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/texturaIndex.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.obrasConteiner h1 {
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.obrasConteiner .obras1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.obrasConteiner .obras1 h2 {
  font-size: 1.3rem;
}
.obrasConteiner .obras1 h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
}
.obrasConteiner .obras1 .carusel {
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 45%;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .obrasConteiner .obras1 .carusel {
    width: 70%;
  }
}
@media screen and (max-width: 599px) {
  .obrasConteiner .obras1 .carusel {
    width: 90%;
  }
}
.obrasConteiner .obras2 {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.obrasConteiner .obras2 h2 {
  margin-top: 2rem;
  font-size: 1.3rem;
}
.obrasConteiner .obras2 h3 {
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.obrasConteiner .obras2 .carusel2 {
  width: 45%;
  height: auto;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .obrasConteiner .obras2 .carusel2 {
    width: 70%;
  }
}
@media screen and (max-width: 599px) {
  .obrasConteiner .obras2 .carusel2 {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
