@font-face {
    font-family: "aileron";
    src: url("../fuente/aileron_0102");
}



.imagenNav{
    width: 25%;

    @media screen and (min-width: 800px) and (max-width: 999px) {
        width: 30%;
        height: auto;
    }
    @media screen and (min-width: 600px) and (max-width: 799px) {
        width: 40%;
        height: auto;
    }
    @media screen and (min-width: 450px) and (max-width:599px) {
        width: 55%;
        height: auto;
    }
    @media screen and (max-width:449px) {
        width: 62%;
        height: auto;
    }
    
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;

    font-family: "aileron", sans-serif;
    z-index: 1;
    
    
    
}

.what{
    bottom: 1%;
    right: 1%;
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media screen and (min-width: 451px) and (max-width: 991px) {
        bottom: 20%;
    right: 1%;
    }
    @media screen and (max-width: 500px)  {
        bottom: 8%;
        right: 5%;
    }
    
    
    
    a{
    
    width: 5rem;
    height: auto;

        img{
      
            width: 5rem;
            height: auto;
        }   
    }

}

.hoverSub{

    &:hover {
        text-decoration: underline;
    }
}

.hoverGrande{
    &:hover {
        font-size: 3rem;
    }
}




footer{

        height: auto;
        

    .footerContein{
        width: 100%;
        height: auto;

        background-color: black;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        

        @media screen and (max-width: 600px)  {
            flex-direction: column;
            padding: 1rem;
            width: 100%;
            
            
        }
        
    
        .logoFooter{
            margin-top: 1rem;
            margin-left:7rem;
            width: 40%;

            @media screen and (min-width: 599px) and (max-width: 999px) {
                margin-top: 1rem;
            margin-left:5rem;
            width: 60%;
            
            }

            @media screen and (max-width: 599px)  {
                display: none;
                margin: 0;
            }
           

            img{
                width: 35%;
                height: auto;
               
            }

            .mailFoo2{
                display: none;

                @media screen and (min-width: 600px) and (max-width: 999px) {
                    display: flex;
                    justify-content: start;
                    align-items: flex-end;
                    color: white;
                    font-size: 1rem;
                    margin-top: 2rem;
                }

            }
        }

        .footer{
            width: 25%;
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 600px) and (max-width: 999px) {
                margin-right:4rem ;
            }

            @media screen and (max-width: 600px)  {
                width: 100%;
                justify-content: center;
            align-items: center;
            
            }
            
            .footerLInks{
                display: flex;
                flex-direction: column;
                text-decoration: none;
                margin: 1rem;
                padding: 0.8rem;
                border-left: solid #3A5D8B 0.6rem ;
                a{
                    color: white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                
                
                
                
            }
            .footerRedes{
                
                
                display: flex;
                flex-direction: column;
                color: white;
                justify-content: space-around;
                
                margin-left: 1rem;
                @media screen and (max-width: 600px)  {
                    
                    
                    justify-content: center;
            align-items: center;
                }
               

                
                
                h3{
                    margin: 0.1rem;

                    font-size: 1rem;
                    
                    @media screen and (max-width: 600px)  {
                    
                    display: flex;
                        justify-content: center;
                align-items: center;
                    }
                    img{
                        margin: 0;
                        width: 11%;
                        height: auto;

                        @media screen and (min-width: 600px) and (max-width: 999px) {
                            width: 20%;
                        }
                    }
                }

                .mailFoo{

                    @media screen and (min-width: 600px) and (max-width: 999px) {
                        display: none;
                    }

                }

                img{
                    width: 8%;
                height: auto;
                }
            
            }
        }
    
    }
}



