

.paginaConteiner{

    
    width: 100%;
    height: auto;

    

    
    /*------------------------------------primera seccion-------*/

    .primeraSeccion{

        background-image: url(../imagenes/texturaIndex.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        


        .presentacionIndex{
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
            
            
            img{
                width: 25%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
        a{
            text-decoration: none;
            button{
                margin: 2rem;
                display: flex;
                justify-content: start;
            }
        }
        
    }

    /*------------------------------------segunda seccion-------*/

    

    /*-------------tercera seccion--------------*/
    .terceraSeccionIndex{
        .galeriaConteinerIndex{
            
            width: 100%;
            height: 70vh;
            display: flex;
            flex-direction: row;
            text-decoration: none;
            margin: auto;
            
            @media screen and (min-width: 500px) and (max-width: 999px) {
                width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
            }

            @media screen and (max-width: 499px) {
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            

            .imgNosotrosIndex{
                width: 25vw;
                height: auto;
                background-image: url(/imagenes/indexnos.jpg);
                display: flex;
                flex-direction: column-reverse;
                background-repeat: no-repeat;
                background-size: cover;
                
                
                @media screen and (min-width: 500px) and (max-width: 999px) {
                width: 100%;
                height: 25%;
                background-image: url(/imagenes/nosotrosTablet.png);
                

                }
                @media screen and (max-width: 499px) {
                    width: 100%;
                height: 25%;
                background-image: url(/imagenes/celularNosInd.png);
                
                }
                
                a{
                    text-decoration: none;
                    h2{
                        
                        text-decoration: none;
                        color: white;
                        margin: auto;
                        padding: 1.5rem;
                        font-size: 1rem;
                        @media screen and (max-width: 999px) {
                            color: black;
                         }
                       

                       
                            &:hover {
                                font-size: 1.3rem;
                            }
                        
                        
                    }
                }

                
            }
            .imgConstruccionIndex{
                width: 25vw;
                height: auto;
                background-image: url(/imagenes/indexcont.jpg);
                background-repeat: no-repeat;
        background-size: cover;
                display: flex;
                flex-direction: column-reverse;

                @media screen and (min-width: 500px) and (max-width: 999px) {
                    width: 100%;
                    height: 25%;
                    background-image: url(/imagenes/contruccionTablet.png);
    
                    }
                @media screen and (max-width: 499px) {
                    width: 100%;
                    height: 25%;
                    background-image: url(/imagenes/celularContrInd.png);
                    
                }

                a{
                    text-decoration: none;
                    h2{
                        text-decoration: none;
                        color: white;
                        margin: auto;
                        padding: 1.5rem;
                        font-size: 1rem;
                        @media screen and (max-width: 999px) {
                            color: black;
                         }
                        &:hover {
                            font-size: 1.3rem;
                        }
                    
                        
                    }
                }
            }
            .imgObrasIndex{
                width: 25vw;
                height: auto;
                background-image: url(/imagenes/indexobr.jpg);
                background-repeat: no-repeat;
        background-size: cover;
                display: flex;
                flex-direction: column-reverse;

                @media screen and (min-width: 500px) and (max-width: 999px) {
                    width: 100%;
                    height: 25%;
                    background-image: url(/imagenes/obrasTablet.png);
    
                    }
                    @media screen and (max-width: 499px) {
                        width: 100%;
                        height: 25%;
                        background-image: url(/imagenes/celularObrasInd.png);
                    }

                a{
                    text-decoration: none;
                    h2{
                        text-decoration: none;
                        color: white;
                        margin: auto;
                        padding: 1.5rem;
                        font-size: 1rem; 
                        @media screen and (max-width: 999px) {
                            color: black;
                         } 
                        
                        &:hover {
                            font-size: 1.3rem;
                        }
                    
                    }
                }
            }
            .imgContactoIndex{
                width: 25vw;
                height: auto;
                background-image: url(/imagenes/indexcontac.jpg);
                background-repeat: no-repeat;
            background-size: cover;
                display: flex;
                flex-direction: column-reverse;

                @media screen and (min-width: 500px) and (max-width: 999px) {
                    width: 100%;
                    height: 25%;
                    background-image: url(/imagenes/contactoTablet.png);
    
                    }

                    @media screen and (max-width: 499px) {
                        width: 100%;
                        height: 25%;
                        background-image: url(/imagenes/celularContInd.png);
                    }

                a{
                    text-decoration: none;
                    h2{
                        text-decoration: none;
                        color: white;
                        margin: auto;
                        padding: 1.5rem;
                        font-size: 1rem;
                        @media screen and (max-width: 999px) {
                            color: black;
                         }
                        &:hover {
                            font-size: 1.3rem;
                        }
                    
                        
                    }
                }
            }
        }
    }

    /*----------------cuarta seccion------------------------*/

    .cuartaSeccionIndex{
        width: 50%;
        height: auto;      
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 4rem;

        

        }
}




