.nosotrosConteiner{

    

    width: 100%;
    height: auto;



    .primeraSeccionNosotros{
        width: 80%;
        height: auto;
        background-image: url(../imagenes/texturaBlanca.png);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;

        .cardNosotros{
            width: 100%;
            margin-top: 7em;
            margin-bottom: 5em;

            

            p{
                font-size: 0.8rem;
            }
            
            

        }
        
    }

    .segundaNosotros{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        background-image: url(../imagenes/nosotros2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;

        .imgNosSegconteiner{
            display: flex;
            flex-direction: row;
            margin: auto;

            width: 50%;
            .imgNosSeg{
                width: 80%;
                height: auto;
                margin: auto;
                display: flex;
                justify-content: end;
    
                img{
                    width:70%;
                    height: auto;
                    
                }
            }
    
            .textoNosotros{
                width: 80%;
                color: white;
                display: flex;
                margin: auto;
                justify-content: space-around;
                
                h3{
                    font-size: 1rem;
                }
            }
        }

        
    }

    .terceraNosotros{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        background-image: url(../imagenes/terNos.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .textoTerNos{
            width: 35%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: center;

            h1{
                margin-bottom: 2rem;
            }
            h3{
                font-size: 1rem;
                text-decoration: none;
                text-align: center;
            }
        }
    }


    .cuartaNosotros{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        background-image: url(../imagenes/cuarNos.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .textoCuarNos{
            width: 35%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: center;

            h1{
                margin-bottom: 2rem;
                color: white;
            }
            h3{
                font-size: 1rem;
                text-decoration: none;
                color: white;
                text-align: center;
            }
        }
    }

    .quintaNosotros{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        background-image: url(../imagenes/terNos.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .textoQuinNos{
            width: 35%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: center;

            h1{
                margin-bottom: 2rem;
                
            }
            h3{
                font-size: 1rem;
                text-decoration: none;
               
                text-align: center;
            }
        }
    }

    

        
}