.nosotrosConteiner{

    

    width: 100%;
    height: auto;
    



    .primeraSeccionNosotros{
        width: 80%;
        height: auto;
        background-image: url(../imagenes/texturaIndex.png);
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-top: 3rem;

        @media screen and (max-width: 900px) {
            width:50%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
           
        }

        @media screen and (max-width: 599px) {
            width:80%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;

        }

        .cardNosotros{
            width: 100%;
            margin-top: 3rem;
            margin-bottom: 2rem;
            @media screen and (min-width: 600px) and (max-width: 999px) {
                width: 80%;
                justify-content: center;
                
                margin-left: auto;
                margin-right: auto;
            }


            @media screen and (max-width: 599px) {
                width: 50%;
                justify-content: center;
                
                margin-left: auto;
                margin-right: auto;
            }

            

            p{
                font-size: 0.8rem;
            }
            
            

        }
        
    }

    .segundaNosotros{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        background-image: url(../imagenes/nosotros2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;

        

        .imgNosSegconteiner{
            display: flex;
            flex-direction: row;
            margin: auto;

            width: 50%;

            @media screen and (min-width: 600px) and (max-width: 999px) {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 2rem;
            
            }

            @media screen and (max-width: 599px) {
                width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
       
        
            }
            
            
            .imgNosSeg{
                width: 80%;
                height: auto;
                margin: auto;
                display: flex;
                justify-content: end;
                @media screen and (max-width: 999px) {
                    width: 30%;
                    justify-content: flex-start;
                    margin: 0;
                    }
                    @media screen and (max-width: 599px){
                        display: none;
                       }
    
                img{
                    width:70%;
                    height: auto;
                    @media screen and (min-width: 500px) and (max-width: 999px) {
                        
                        margin: 0;
                        }
                    
                }
            }
    
            .textoNosotros{
                width: 80%;
                color: white;
                display: flex;
                margin: auto;
                justify-content: space-around;
                @media screen and (min-width: 600px) and (max-width: 999px) {
                    width: 60%;
                    justify-content: flex-start;
                    margin: 0;
                    }
                    @media screen and (max-width: 599px) {
                        width: 70%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: center;
                    }
                
                h3{
                    font-size: 1rem;
                    @media screen and (min-width: 500px) and (max-width: 999px) {
                        font-size: 1rem;
                        width: 100%;
                        }
                        @media screen and (max-width: 599px) {
                            font-size: 1rem;
                            text-decoration: none;
                            text-align: center;
                        }
                }
            }
        }

        
    }

    .terceraNosotros{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        background-image: url(../imagenes/terNos.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .textoTerNos{
            width: 35%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: 600px) and (max-width: 999px) {
                width: 50%;               
                
                }
                @media screen and (max-width: 599px) {
                    width: 70%;
                }

            h1{
                margin-bottom: 2rem;
            }
            h3{
                font-size: 1rem;
                text-decoration: none;
                text-align: center;
            }
        }
    }


    .cuartaNosotros{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        background-image: url(../imagenes/cuarNos.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .textoCuarNos{
            width: 35%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 600px) and (max-width: 999px) {
                width: 50%;               
                
                }
                @media screen and (max-width: 599px) {
                    width: 70%;
                }

            h1{
                margin-bottom: 2rem;
                color: white;
            }
            h3{
                font-size: 1rem;
                text-decoration: none;
                color: white;
                text-align: center;
            }
        }
    }

    .quintaNosotros{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: row;
        background-image: url(../imagenes/terNos.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .textoQuinNos{
            width: 35%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 600px) and (max-width: 999px) {
                width: 50%;               
                
                }
                @media screen and (max-width: 599px) {
                    width: 70%;
                }

            h1{
                margin-bottom: 2rem;
                
            }
            h3{
                font-size: 1rem;
                text-decoration: none;
               
                text-align: center;
            }
        }
    }

    

        
}